.header {
    position: sticky;
    top: 16px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin: 16px;
    border-radius: 8px;
    gap: 24px;
    font-size: 32px;
    font-weight: 200;
    z-index: 1;
}

.link {
    display: inline-block;
}

.logo {
    height: 60px;
    width: 60px;
    display: block;
}